{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block page %}{{title}}{% endblock %}


{{ super() }}

{% block content %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>

<table id="clientTable" class="table table-striped table-borded">

    <thead>
        <tr>
            <!-- <th>ID</th> -->
            <th>Room ID</th>
            <th>SysUUID</th>
            <th>Lastrow ID</th>
           
        </tr>
    </thead>
    <tbody>
        {% for event in event_meta %}
        <tr>
            <!-- <td>{{ event.id }}</td> -->
            <td>{{ event.room_id }}</td>
            <td>{{ event.sysUUID }}</td>
            <td>{{ event.lastrowid }}</td>
            
        </tr>
        {% endfor %}
    </tbody>
  </table>
  <script>
        document.addEventListener('DOMContentLoaded', function() {
            var socket = io.connect('https://' + document.domain + ':' + location.port + '/ccdev', {
            transports: ['websocket'] 
            });
           n
            socket.on('connect', function() {
                console.log('Socket.IO connected successfully');
            });
            
            socket.on('latest_data', function() {
                refreshTable();
            });

      
            socket.emit('refresh_data');
            
            function refreshTable() {
                $.ajax({
                    url: '/api/client',
                    type: 'GET',
                    success: function(data) {
                     
                        var tableData = data.map(function(item) {
                            return [item.room_id, item.sysUUID, item.lastrowid];
                        });
                        var table = $('#clientTable').DataTable();
                        table.clear().rows.add(tableData).draw();
                        // console.log('Table refreshed successfully');
                    },
                    error: function(xhr, status, error) {
                        console.error('Error refreshing table:', error);
                    }
                });
            }
            
        })
       

  </script>

{% endblock %}